<!--<%- include("./partials/head") %>--> 
<!DOCTYPE html>

<html>
    <head>
        <title> "Daphne-Tienda energetica"</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/home.css" rel="stylesheet">
    </head>
    <div class="logobox">
        <img class = "avatar" src="img/logo_daphne.png" alt="Logo Daphne">
       </div>
    <body> 
       
        <%- include("./partials/header") %>
    <div class="body-body">
        <section>
            <article>
                <% for (let i = 0; i < productos.length; i++) {%>
                <img class="img-productos" src= "../../public/img/products/ productos[i].image %>" alt="Titulo del producto">
                
                <h3><%=productos[i].name%></h3>
                <p> <%=productos[i].description%></p>
                <h2>$ <%= productos[i].price %></h2>
                <a href="/producto/detail/<%=productos[i].id%> ">ver más</a>
            </article>
            <% } %>
        </section>
        </div>

        

        <%- include("./partials/footer") %>

    </body>

</html>